FLASK_CONFIG=production
SECRET_KEY=change-me-prod
DATABASE_URL=postgresql+psycopg2://exalquest_prod:change-me@db:5432/exalquest_prod
SESSION_COOKIE_SECURE=true

POSTGRES_DB=exalquest_prod
POSTGRES_USER=exalquest_prod
POSTGRES_PASSWORD=change-me

MAIL_SERVER=smtp.hostinger.com
MAIL_PORT=587
MAIL_USE_TLS=true
MAIL_USE_SSL=false
MAIL_USERNAME=no-reply@jonathan-dupau.com
MAIL_PASSWORD=change-me
MAIL_DEFAULT_SENDER=no-reply@jonathan-dupau.com
