# Environment variables
.env
.env.*

.env
.env.preprod

# Alembic cache
migrations/__pycache__/
migrations/versions/__pycache__/

# Python cache (optionnel mais conseillé)
__pycache__/
*.py[cod]
*.pyo
*.pyc


# Virtual environments (souvent présents en Python)
.venv/
venv/
env/

# OS files
.DS_Store
Thumbs.db
# Keep tracked env examples
!.env.*.example
