{% extends "base.html" %}
{% block content %}
<div class="inl-auth-001">
    <h2 class="inl-auth-002">🎲 Se connecter</h2>
    
    <form method="POST">
        <div class="inl-auth-003">
            <label for="username_or_email" class="inl-auth-004">Nom d'utilisateur ou Email :</label>
            <input type="text" id="username_or_email" name="username_or_email" required class="inl-auth-005">
        </div>
        
        <div class="inl-auth-003">
            <label for="password" class="inl-auth-004">Mot de passe :</label>
            <input type="password" id="password" name="password" required class="inl-auth-005">
        </div>
        
        <button type="submit" class="btn-primary inl-auth-006" >
            Se connecter
        </button>
    </form>
    
    <p class="inl-auth-007">
        Pas encore de compte ? <a href="{{ url_for('auth.register') }}" class="inl-auth-008">S'inscrire</a>
    </p>
</div>
{% endblock %}